*{
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*container part*/

    .container{
        display: flex
        height: 50;
        width: 01;
        border:10px solid limegreen;
        margin: 115px;
        margin-top: 150px;
        
        

    }
        /*Login section*/
            .form{
                display: flex;
                flex-direction: column;
                background-color: aqua;
                justify-content: center;
                flex-wrap:wrap;
                align-items: center;
                font-style: italic;
    
               }

               .form h2{
                display: flex;
                font-size: xx-large;
                margin: 25px;

            }

                .box{
                    padding: 5px;
                    width: 40%;
                    margin: 5%;
                    border: ;
                    outline: 10xp;
                    border-radius: 20px;
                    background-color: #d6ef34;
                
                }               

                .form{
                    padding: 10px;
                    
        
                }
                
                button {
                    border: 15px;
                    color: rgb(20, 11, 1);
                    background-image: linear-gradient(50deg, #0d00ff, #4ce3f7);
                    border-radius: 20px;
                    background-size: 5px;
                    padding: 1%;
                    font-weight: 500px;
                    font-size: 27px ;
                
                    
                   }
                   
                   
                   
                
                   
            
                   
                